/* Focus CSS style */

body {
	background: #212534;
	color: #9aa0a6;
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
}

.con{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
	flex-direction: column;
}
img{
	text-align: center;
	width: 50px;
	display: block;
}
h1{
	font-weight: 300;
	margin-bottom: 10px;
}
p{
	margin: 0;
}